---
import Layout from "../layouts/Layout.astro";

const slideModules = Object.values(
	import.meta.glob<{ default: any }>("../slides/*.astro", { eager: true })
);
---

<Layout title="My Awesome Talk Title">
	<main class="reveal">
		<div class="slides">
			{slideModules.map(({ default: Slide }) => <Slide />)}
		</div>
	</main>
</Layout>
